@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
      	<title>Glas</title>
@await Html.PartialAsync("MainHeader")
@await Html.PartialAsync("GlasBody")
@await Html.PartialAsync("MainFooter")
