@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models;
@inject IPublishedUrlProvider PublishedUrlProvider
@inject IPublishedContentQuery PublishedContentQuery
@using Umbraco.Cms.Core.Models;
@{  
var mediaId = Model.MacroParameters["mediaId"];
var mediaItem = Umbraco.Media(mediaId);
var message2 = Model.GetParameterValue<string>("displayMessage");
var message = Model.MacroParameters["displayMessage"].ToString();

 
}


                <div class="background-image" style="background-image: url('@mediaItem.Url(PublishedUrlProvider)'); height:40vh;">
                    <div class="container text-center pt-5 ">
                        <div class="row">
                            <div class="col text-dark pt-5 text-white">
                                <h1 class="pt-5" style="z-index:4;">@message </h1>
                            </div>
                        </div>  
                    </div>
                </div>